
.icon-th:before { content: '\e800'; } /* '' */
.icon-th-list:before { content: '\e801'; } /* '' */
.icon-trash:before { content: '\e802'; } /* '' */
.icon-th-1:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e804'; } /* '' */
.icon-doc-text-inv:before { content: '\e805'; } /* '' */
.icon-cog-alt:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-plus-circled:before { content: '\e808'; } /* '' */
.icon-sliders:before { content: '\e809'; } /* '' */
.icon-minus-circled:before { content: '\e80a'; } /* '' */
.icon-doc-text-inv-1:before { content: '\e80b'; } /* '' */
.icon-tools:before { content: '\e80c'; } /* '' */
.icon-cog:before { content: '\e80d'; } /* '' */
.icon-cancel-circled:before { content: '\e80e'; } /* '' */