<table class="displaytable">
  <tbody>
  <tr>
    <td colspan="2"><h1>t('shopror.views.employee.detail')</h1></td>
  </tr>
  </tbody>
</table>

<%= render 'form' %>

<hr>
<table class="displaytable">
  <tbody><tr bgcolor="#EEEEEE">
    <td align="right"><%= link_to t('shopror.views.employee.delete'), admin_employee_path(@employee), method: :delete, data: { confirm: t('shopror.views.employee.confirm') }, class:'buttonstyle' %></td>
  </tr>
  </tbody>
</table>
