<table class="displaytable">
  <tbody>
  <tr>
    <td colspan="2"><h1><%= t('shopror.views.customer.customer_detail')%></h1></td>
  </tr>
  </tbody>
</table>

<%= render 'form' %>

<hr>
<table class="displaytable">
  <tbody><tr bgcolor="#EEEEEE">
    <td align="right"><%= link_to t('shopror.views.customer.delete'), admin_customer_path(@customer), method: :delete, data: { confirm: t('shopror.views.customer.confirm') }, class:'buttonstyle' %></td>
  </tr>
  </tbody>
</table>