<table class="displaytable">
  <tbody>
  <tr><td><h1><%= @product.name  %></h1></td></tr>
  <tr><td>
    <div class="producttabs">
      <%= link_to t("mongoid.models.product"), edit_admin_product_path(@product), class: tab == :product ? 'tablive': nil %>
      <%= link_to t("mongoid.models.variant"), admin_product_variants_path(@product), class: tab == :variant ? 'tablive': nil %>
      <%= link_to t("mongoid.models.review"), admin_product_reviews_path(@product), class: tab == :review ? 'tablive': nil %>
      <a href="#">Attributes</a>
      <a href="#">Related Products</a>
      <a href="#">Images</a>
    </div>
  </td></tr>
  </tbody>
</table>
