<table class="displaytable">
  <tbody><tr>
    <td><h1>Sales</h1></td>
    <td align="right">Product Sales | <a href="_stats_main.asp?month=11&amp;year=2013">Product Hits</a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top" class="bold">November 2013</td>
  </tr>
  <tr>
    <td colspan="2">
      <table class="formatted">
        <tbody><tr class="header">
          <td width="50">ID</td>
          <td width="150">Share of Hits</td>
          <td width="50">&nbsp;</td>
          <td>Product Category</td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td>Total:</td>

          <td>0*</td>
          <td>&nbsp;</td>
        </tr>
        </tbody></table>
    </td>
  </tr>
  <tr>
    <td colspan="2">*The stats total will be less than the sum of each category total if you have products in multiple categories. In that case, a hit or sale for the product will show in both categories, but is only included once in the grand total.</td>
  </tr>
  <tr>
    <td colspan="2" class="bold">Last 12 Months</td>
  </tr>
  <tr>
    <td colspan="2">
      <table class="formatted">
        <tbody><tr class="header">
          <td width="50">&nbsp;</td>
          <td width="150">Share of Hits</td>
          <td width="50">&nbsp;</td>
          <td>Month</td>
        </tr>
        <tr bgcolor="#DDDDDD">
          <td>&nbsp;</td>
          <td valign="middle"><img src="images/graphblack.gif" width="1" height="10"><img src="images/graphgreen.gif" width="1" height="10"><img src="images/graphblack.gif" width="100" height="10"></td>
          <td>0</td>
          <td><b>November 2013</b></td>
        </tr>
        <tr bgcolor="#EEEEEE">
          <td>&nbsp;</td>
          <td valign="middle"><img src="images/graphblack.gif" width="1" height="10"><img src="images/graphgreen.gif" width="1" height="10"><img src="images/graphblack.gif" width="100" height="10"></td>
          <td>0</td>
          <td><a href="_salesstats_main.asp?numGivenMonth=10&amp;numGivenYear=2013">October 2013</a></td>
        </tr>
        <tr bgcolor="#DDDDDD">
          <td>&nbsp;</td>
          <td valign="middle"><img src="images/graphblack.gif" width="1" height="10"><img src="images/graphgreen.gif" width="1" height="10"><img src="images/graphblack.gif" width="100" height="10"></td>
          <td>0</td>
          <td><a href="_salesstats_main.asp?numGivenMonth=9&amp;numGivenYear=2013">September 2013</a></td>
        </tr>
        <tr bgcolor="#EEEEEE">
          <td>&nbsp;</td>
          <td valign="middle"><img src="images/graphblack.gif" width="1" height="10"><img src="images/graphgreen.gif" width="1" height="10"><img src="images/graphblack.gif" width="100" height="10"></td>
          <td>0</td>
          <td><a href="_salesstats_main.asp?numGivenMonth=8&amp;numGivenYear=2013">August 2013</a></td>
        </tr>
        <tr bgcolor="#DDDDDD">
          <td>&nbsp;</td>
          <td valign="middle"><img src="images/graphblack.gif" width="1" height="10"><img src="images/graphgreen.gif" width="1" height="10"><img src="images/graphblack.gif" width="100" height="10"></td>
          <td>0</td>
          <td><a href="_salesstats_main.asp?numGivenMonth=7&amp;numGivenYear=2013">July 2013</a></td>
        </tr>
        <tr bgcolor="#EEEEEE">
          <td>&nbsp;</td>
          <td valign="middle"><img src="images/graphblack.gif" width="1" height="10"><img src="images/graphgreen.gif" width="1" height="10"><img src="images/graphblack.gif" width="100" height="10"></td>
          <td>0</td>
          <td><a href="_salesstats_main.asp?numGivenMonth=6&amp;numGivenYear=2013">June 2013</a></td>
        </tr>
        <tr bgcolor="#DDDDDD">
          <td>&nbsp;</td>
          <td valign="middle"><img src="images/graphblack.gif" width="1" height="10"><img src="images/graphgreen.gif" width="1" height="10"><img src="images/graphblack.gif" width="100" height="10"></td>
          <td>0</td>
          <td><a href="_salesstats_main.asp?numGivenMonth=5&amp;numGivenYear=2013">May 2013</a></td>
        </tr>
        <tr bgcolor="#EEEEEE">
          <td>&nbsp;</td>
          <td valign="middle"><img src="images/graphblack.gif" width="1" height="10"><img src="images/graphgreen.gif" width="1" height="10"><img src="images/graphblack.gif" width="100" height="10"></td>
          <td>0</td>
          <td><a href="_salesstats_main.asp?numGivenMonth=4&amp;numGivenYear=2013">April 2013</a></td>
        </tr>
        <tr bgcolor="#DDDDDD">
          <td>&nbsp;</td>
          <td valign="middle"><img src="images/graphblack.gif" width="1" height="10"><img src="images/graphgreen.gif" width="1" height="10"><img src="images/graphblack.gif" width="100" height="10"></td>
          <td>0</td>
          <td><a href="_salesstats_main.asp?numGivenMonth=3&amp;numGivenYear=2013">March 2013</a></td>
        </tr>
        <tr bgcolor="#EEEEEE">
          <td>&nbsp;</td>
          <td valign="middle"><img src="images/graphblack.gif" width="1" height="10"><img src="images/graphgreen.gif" width="1" height="10"><img src="images/graphblack.gif" width="100" height="10"></td>
          <td>0</td>
          <td><a href="_salesstats_main.asp?numGivenMonth=2&amp;numGivenYear=2013">February 2013</a></td>
        </tr>
        <tr bgcolor="#DDDDDD">
          <td>&nbsp;</td>
          <td valign="middle"><img src="images/graphblack.gif" width="1" height="10"><img src="images/graphgreen.gif" width="1" height="10"><img src="images/graphblack.gif" width="100" height="10"></td>
          <td>0</td>
          <td><a href="_salesstats_main.asp?numGivenMonth=1&amp;numGivenYear=2013">January 2013</a></td>
        </tr>
        <tr bgcolor="#EEEEEE">
          <td>&nbsp;</td>
          <td valign="middle"><img src="images/graphblack.gif" width="1" height="10"><img src="images/graphgreen.gif" width="1" height="10"><img src="images/graphblack.gif" width="100" height="10"></td>
          <td>0</td>
          <td><a href="_salesstats_main.asp?numGivenMonth=12&amp;numGivenYear=2012">December 2012</a></td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td>Total:</td>
          <td>0</td>
          <td>&nbsp;</td>
        </tr>
        </tbody></table>
    </td>
  </tr>
  </tbody></table>