<%= render partial: 'tabs', :locals => {:tab => :product} %>
<table class="displaytable">
  <tbody>
  <tr>
    <td><h1>Updated!</h1></td>
  </tr>
  <tr>
    <td class="updated"><%= notice %></td>
  </tr>
  </tbody>
</table>

