<div class="home_region" id="home_region2">
  <div class="products specials ">
    <h5><span><%= t('shopror.views.product.featured') %></span></h5>

    <%= render :partial => "list", :locals => {:products => @products}  %>

    <div class="spacer"></div>
    <td class="paginate" colspan="9"><%= paginate @products %></td>
  </div>
  <div class="products_end"></div>
</div>
