<table class="displaytable">
  <tbody>
  <tr>
    <td><h1><%=t('shopror.views.supplier.origin_list') %></h1></td>
  </tr>
  </tbody>
</table>
<table class="formatted">
  <thead>
  <tr class="header">
    <th><%= t('shopror.views.supplier.country_of_origin')%></th>
  </tr>
  </thead>
  <tbody>
  <% @suppliers.each_with_index do |supplier, index| %>
      <tr bgcolor="<%= index % 2 == 0 ? '#eeeeee' : '#dddddd' %>">
        <td><%= link_to supplier.name, supplier %></td>
      </tr>
  <% end %>
  </tbody>
</table>
