<!DOCTYPE html>
<html>
<head>
  <link rel="Bookmark" href="favicon.ico" />
  <link rel="SHORTCUT ICON" href="favicon.ico" />
  <meta name="GENERATOR" content="www.wizshop.com" />
  <title>WizShop Print Page</title>
  <link rel="Stylesheet" type="text/css" href="/assets/skin/invoice.css" media="all" />
</head>
<body>

<%= yield %>

</body>
</html>
